################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComplexXmlResultComparison/obj
/ComplexXmlResultComparison/bin
/JsonArrayComparison/bin
/JsonArrayComparison/obj
